* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-weight: 100;
    font-family: 'PT sans narrow', sans-serif;
    overflow-x: hidden;
    background-image: url(../img/pattern.png)
}

img {
    cursor: pointer;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerMoreItems{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5%;
}
.contact a {
  font-size: 30px;
  color: black

}

.contact h3 {
  font-size: 40px;
  color: black

}

.videoContainer {
     position: relative;
     width: 100%;
     height: 100%;
     //padding: 20px;
     border-radius: 5px;
     background-attachment: scroll;
     overflow: hidden;
 }
 .videoContainer video {
     min-width: 100%;
     min-height: 100%;
     position: relative;
     z-index: 1;
    width: 100%;
 }

 .videoContainer .content {
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 2;
     background-image: url("../img/.png");
     opacity: 1;
 }
.introtext{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;

}
.introtext h1{
  font-size: 50px;
}

/* Parallax container */
.container {
    width: 100%;
    margin: 0 auto;
    color: white;
}

#logouden img {
    width: 200px;
}

#logo{
    width:25%;
}

span{
  color: white;
}
/* Nav overlay */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(../img/overlay.jpg);
    background-repeat: repeat;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 1s;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 1%;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7%;
}




/* Eventpage */

.eventcontainer{
  display: flex;
  justify-content: flex-start;
}

.brodtekst{
font-weight: 400;
margin-top: 70px;
margin-right:10%;
margin-left: 5%;
line-height: 40px;
font-size: 20px;
letter-spacing: 0.4px;
}

.event{
  margin-top: 70px;
  margin-right: 5%;
  margin-bottom: 15%;
}

/* About Page */

.left-ele, .right-ele {
  text-align: center;
  height: 100%;
}

.abouts {
    background: #f1f1f4;
    margin-bottom: 40px;
}

/* Footer jannick*/
footer {
    background-color: #192d34;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    padding: 15%;
    width:80%;
}



/* Media queries */




@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


@media screen and (min-width: 768px) {
/* About Page */
.abouts img {
width: 100%;
height: 450px;
object-fit: cover;
object-position: center;
}

.left-ele .container2 {
float: right;
}
.abouts .left-ele {
    width: 65%;
    float: left;
    text-align: right;
}
.abouts .right-ele {
    width: 35%;
    float: right;
    text-align: left;
}
/* Nav Bar */
    #nav {
        padding: 0;
        padding-left: 5%;
        padding-right: 5%;

    }


}
